
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.cabecera {
    position: absolute;
    background-color: bisque;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.titulo {
    color: darkblue;
    font-size: 20px;
    padding-right: 20px;
}

.apartados {
    font-size: 15px;
    padding-right: 20px;
    margin-right: 200px;
}

#latest{
    color: dimgrey;
    text-decoration: underline dimgrey 3px;
}

#foto-perfil img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.cuerpo {
    padding-top: 70px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/tortilla.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: absolute;
}

.contenedor{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-right: 1250px;
    padding-bottom: 100px;
}

#orange{
    font-weight: normal;
    font-size: 40px;
}

.heal{
    font-size: 15px;
}

#magic{
    font-size: 40px;
}

.pie-pagina{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.view{
    padding-left: 50px;
    padding-right: 60px;
    color: dimgrey;
}

.categorias{
    padding-left: 10px;
    padding-right: 50px;
}

.cuerpo2{
    width: 100%;
    height: 2000px;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}

.contenedor2{
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-right: 1250px;
    padding-bottom: 100px;
}

.recipes{
    margin-bottom: 15px;
    margin-top: 50px;
    margin-left: 50px;
}

.imagen2{
    padding-right: 50px;
    padding-left: 50px;
}

.contenedor3{
    width: 200%;
}

.subtitulos{
    width: 35%;
    padding-left: 40px;
}

.heals{
    padding-right: 300px;
    padding-left: 50px;
}

.lorem{
    font-size: 8px;
    width: 33%;
    padding-left: 51px;
}

.never{
    background-color: peru;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 250px;
}

h2{
  display: inline-block;
}

p{
  display: inline-block;
}

.boton{
  border-radius: 30%;
  color: red;
}